@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --fs-700: 2.986rem;
  --fs-600: 2.488rem;
  --fs-500: 2.074rem;
  --fs-400: 1.728rem;
  --fs-300: 1.44rem;
  --fs-200: 1.2rem;
  --fs-100: 1rem;
  --fs-50: 0.833rem;

  --white: #ffffff;
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  --grey-950: #020617;

  --shadow: hsla(215, 16%, 47%, 10%);

  --primary: hsl(162, 100%, 42%);
  --primary-50: hsl(162, 100%, 56%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-width: 100%;
  overflow-x: hidden;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

/* Header CSS */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  min-height: 80px;
  min-width: 100%;
  z-index: 10;
  background: #0f1423;
  border-bottom: 2px solid #0c2d48;
  box-shadow: 0px 0px 10px 0px #000;
  top: 0;
}

.navigation .logo {
  margin-left: 20px;
}

.navigation .logo h1 {
  color: var(--primary);
  font-size: 30px;
  line-height: 38px;
}

.navigation .menu-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  margin: auto 20px auto 0;
}

.navigation .menu-list li a {
  color: var(--primary);
  font-size: 1.25rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: color ease-in-out 0.3s, border ease-in-out 0.3s;
  text-decoration: none;
}

.navigation .menu-list li a:hover,
.navigation .menu-list li a:active,
.navigation .menu-list li a:focus {
  color: var(--primary-50);
}

/* BODY CSS */
.container {
  margin: auto;
  max-width: 1440px;
  padding: 0 20px;
}

.search-cotnainer {
  margin-top: 130px;
  padding: 30px 0 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box {
  width: 50%;
  position: relative;
  display: flex;
}

.search-input {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--primary);
  border-radius: 4px 0 0 4px;
  border-right: none;
  outline: none;
  background: none;
}

.search-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  outline: none;
  padding: 0 15px;
  cursor: pointer;
  border: 1px solid var(--primary);
  border-radius: 0 4px 4px 0;
  border-left: none;
  color: var(--primary);
  border-left: 1px solid var(--primary);
  background: none;
  transition: color ease-in-out 0.3s, background-color ease-in-out 0.3s;
}

.search-input:focus + .search-button,
.search-input:active + .search-button,
.search-input:hover + .search-button {
  background-color: var(--primary);
  color: black;
}

.search-button:hover,
.search-button:active,
.search-button:focus {
  background-color: var(--primary);
  color: black;
}

/*Card Container*/
.card-list-container {
  margin: 30px 0;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

/*Card CSS*/
.card {
  max-width: 30ch;
  border-radius: 0.5rem;
  box-shadow: 0 0 2rem var(--shadow);
  overflow: hidden;
  transform: scale(1);
  transition: transform ease-in-out 0.3s;
  background-color: var(--background-alt);
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.025);
}

.card-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.card-thumbnail-wrapper {
  max-height: 255px;
  overflow: hidden;
}

.card-thumbnail {
  transform: scale(1);
  width: 100%;
  max-width: 100%;
  height: auto;
  transition: transform ease-in-out 0.3s;
}

.card:hover .card-thumbnail {
  transform: scale(1.05);
}

.card-title {
  margin-top: unset;
  margin-bottom: 0.35rem;
  font-size: var(--fs-300);
  color: var(--text-alt);
}

.card-featured {
  margin-bottom: 1.5rem;
  font-size: var(--fs-100);
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--fs-50);
}

.filter-container {
  padding: 50px 0 10px 0;
}

/* Card button */
.card-action,
.filter-button {
  margin-left: auto;
  padding: 0.2rem 0.5rem;
  border: 1px solid var(--primary);
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: var(--fs-50);
  color: var(--primary);
  background-color: transparent;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.filter-button {
  padding: 0.5rem 1.2rem;
  font-size: var(--fs-100);
}

.card-action:hover,
.filter-button:hover,
.card-action:active,
.filter-button:active,
.selected {
  border-color: var(--primary-50);
  color: var(--background-alt);
  background-color: var(--primary-50);
}
